 <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <div class="container-fluid">
                <div class="d-flex flex-row footer container">
                    <div>
                        <h6>Endereço</h6>
                        <h6>Endereço: Rua Rio Stykx nº1651</h6>
                        <h6>Limbo Verde - São Paulo/Brasil</h6>
                    </div>
                    <div>
                        <h6>Nossos contatos</h6>
                        <h6>Tel: (12) 96230-1255</h6>
                        <h6>E-mail: hospital@gmail.com</h6>
                    </div>
                    <div>
                        <h6>Trabalhe Conosco</h6>
                        <h6>Envie seu currículo</h6>
                        <img src="img/insta.png" alt="">
                        <img src="img/fcb.png" alt="">
                        <img src="img/likedin.png" alt="">
                    </div>
                </div>
                <div class="container">
                    <hr>
                    <p>© 2021 Todos os direitos reservados</p>
                </div>
            </div>

        </div>
    </nav>