<nav class="navbar navbar-expand-lg text-light bg-primary navbarAdm">
    <div class="container-fluid">
        <img src="img/logo.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cardsMedicos">Nossos Médicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cadastrarMedico">Cadastro de Médicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/listarMedico">Médicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cadastrarEspecialidade">Cadastro de Especialidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/listarEspecialidade">Especialidades</a>
                </li>
                <div class="nav navbar-nav ml-3 ">
                    <li class="nav-item">
                        <a class="nav-link"> Bem-vindo {{perfilLogado}} </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/logoff">Sair</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>