{{>navBarUser}}

<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <img src="img/errorImg.jpg">
            <h1>401</h1>
            <h1>Erro, Você não tem permissão de acesso :/</h1>
        </div> {{!-- col --}}
    </div> {{!-- row  --}}
</div> {{!-- container --}}

{{>footer}}