{{>navBarUser}}

<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <img src="img/erroLogin.png">
            <h1>401</h1>
            <h1>Erro, login ou senha incorreto</h1>
        </div> {{!-- col --}}
    </div> {{!-- row  --}}
</div> {{!-- container --}}

{{>footer}}