<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" name="login">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha">
                </div>
                <button type="submit" class="btn btn-primary">Logar</button>
                <a href="#" class="btn btn-outline-primary">Cadastre-se</a>
            </form>
        </div>
    </div>
</div>
{{>footer}}